#loadSection{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/img/celiaRambla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99999999999999;
}

#loadSection .backShadow{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backShadow i{
    font-size: 20em;
    color: white;
    z-index: 90;
}

#app{
    width: 100%;
    height: 100vh;
    background-image: url("/img/celiaRambla.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    -webkit-box-shadow: inset 5px 5px 100px 15px rgba(0,0,0,0.5); 
    box-shadow: inset 5px 5px 100px 66px rgba(0,0,0,0.5);
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.header{
    background: transparent !important;
}

.negrita{
    font-weight: bolder;
    font-style: italic;
}

.datos{
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    text-align: center;
    position: absolute;
    top:0;
    left: 0;
}

.datosBanner{
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.textoBanner{
    text-align: center;
    font-size: 1.15em;
    margin-top: 1.5em;
    text-align: justify;
    color: white;
}

.botones{
    width: 100%;
    display: flex;
    gap: 1em;
    margin-top: 2em;
    justify-content: center;
}

.boton{
    width: 30%;
    background-color: #C6A878;
    padding: 1em;
    text-decoration: none;
    color: white;
    letter-spacing: 0.08em;
    border: 2px solid #C6A878;
    position: relative;
    overflow: hidden;
    font-weight: bolder;
}

.boton span{
    position: relative;
    z-index: 9;
    transition: ease-in-out 350ms;
}

.boton:after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc( -100% - 80px);
    background: var(--colorPrimario);
    border-bottom: 80px solid var(--colorPrimario);
    border-right: 80px solid transparent;
    transition: 300ms ease-in-out;
}

.boton:last-child::after{
    content: "";
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc( +100% + 80px);
    background: var(--colorPrimario);
    border-bottom: 80px solid var(--colorPrimario);
    border-right: 80px solid transparent;
    transition: 300ms ease-in-out;
}

.boton:hover::after{
    left: 0;
}

.titulo #tituloBold{
    color: #CBAF87;
    text-transform: uppercase;
}

.boton:last-child{
    background-color: transparent;
    border: 2px solid #C6A878;
}

.boton:hover{
    border: 2px solid var(--colorPrimario);
}

/* RESPONSIVE */

@media (max-width: 1500px){
    .datosBanner{
        font-size: 3em;
    }
}

@media (max-width: 1285px){
    .datos{
        width: 100%;
    }

    .boton span{
        z-index: 8;
    }
}

@media (max-width: 650px){
    .boton{
        width: 50%;
    }
}

@media (max-width: 500px){
    .datosBanner{
        font-size: 2.5em;
    }

    .botones{
        flex-direction: column;
    }

    .boton{
        width: 100%;
    }

    .backShadow i{
        font-size: 10em;
    }
}

@media (max-width: 397px){
    #datosHome>.wrapper{
        margin-top: 0.5em;
    }

    .datosBanner{
        font-size: 2em;
        margin-bottom: 0.5em;
    }
}