.header{
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.content-wrapper{
    background-color: rgba(0, 0, 0, 0.7);
}

#multimedia .separacion .linea{
    background-color: white !important;
}

#multimedia .separacion .texto{
    border: 2px solid white !important;
    color: white !important;
}

h1, p, h2, h3{
    color: white;
}

#app{
    background-attachment: fixed;
}

/* GALERIA CON EL SWIPER */
#gallery{
    width: auto;
    height: 90vh;
    margin: 0 auto;
    overflow: hidden;
}

#gallery .swiper {
    width: 100%;
    height: 100%;
}

#gallery .swiper-slide {
    background-position: center;
    background-size: cover;
}

#gallery .swiper-slide img {
    display: block;
    width: 80%;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
}

#gallery .pointContent{
    width: 70%;
    height: 100%;
    background-color: white;
    margin: 100px auto 0 auto;
    z-index: 10;
    padding: 3em 0 0 0;
}

/* INFORMACION */
.contentHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.contentTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contentTitle h1{
    margin: 1em auto;
    font-size: 3em;
    text-align: center;
}

#desc{
    font-size: 1.2em;
}

#type{
    text-align: right;
}

.contentThumbnail{
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 1em;
}

.contentThumbnail img{
    width: 75%;
    height: auto;
}

.contentText{
    padding: 2em 0;
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    color: white;
}

.contentText p{
    font-size: 1.2em;
}