

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.puntosInteres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    gap: 2em;
    padding:2em 0;
}

#puntosInteres{
    background-color: var(--colorClaro);
}

.texto:first-child{
    padding:3em 0;
    margin-top: 1em;
}

.texto{
    text-align: justify;
    margin: 1em 0;
}