#loadSection{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/img/celiaRambla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 99999999999999;
}

#loadSection .backShadow{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backShadow i{
    font-size: 20em;
    color: white;
    z-index: 90;
}


.header{
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
    height: auto !important;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.separacion .linea{
    background-color: white !important;
}

.separacion .texto{
    border: 2px solid white !important;
    color: white !important;
}

h1, p, h2, h3{
    color: white;
}

#app{
    background-attachment: fixed;
}

#contentSection{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);  
    position: relative;
}

#app{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    background-image: url("/img/celiaRambla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* INFORMACION */
.contentHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contentTitle{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contentTitle h1{
    margin: 0.5em;
    font-size: 3em;
    text-align: center;
}

#desc{
    font-size: 1.2em;
    color: white;
    text-align: center;
}

#type{
    text-align: right;
}

.contentThumbnail{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 1em 0;
}

.contentThumbnail img{
    width: 100%;
    height: auto;
}

.contentText{
    padding: 2em 0;
    text-align: justify;
    margin: 0 auto;
    width: 75%;
    color: white;
}

.contentText p{
    margin-bottom: 1em;
}

.contentText p, .contentText ul li{
    color: white;
    font-size: 1.2em;
}

.contentText ul li{
    margin-left: 2.5em;
}

.imagenFondo{
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
}

@media  (max-width: 1100px) {
    .contentText, .contenidoComentario, .slideVideo-container, .slideshow-container, .contentThumbnail{
        width: 100% !important;
    }
}