/*************************************************************************************************************

                                    ESTILOS DE LA PLANTILLA DE ADMINISTRACION
    
        ARrchivo CSS para los estilos de la plantilla usada para la parte de administración (AdminLTE) 


******************************************+*++**************************************************************++*/

@import '/css/estilosGenerales.css';


aside{
    background-color: #3F4D67 !important;
    box-shadow: 1px 0 20px 0 #3f4d67 !important;
    position: fixed !important;
}

.brand-text{
    color: white !important;
}

.nav-item .active{
    background-color: transparent !important;
    color: white !important;
    font-weight: bold;
    box-shadow: 0px 0px 0px transparent !important;
    border-right: 2px solid #C6A878;
    border-radius: unset;    
    background-color: #333F54 !important;
}
.navbar-light .navbar-nav .nav-link{
    color:black !important;
}

.content-wrapper {
    background-color: #F5F8FA !important;    
}


.main-header{
    background: #FFFFFF; /* no se que color poner */
    border-bottom: 1px solid transparent;
    color: black;
}

.nav-link{
    color: #919FB8 !important;
    font-size: 13px !important;
}

aside span b{
    color: #C6A878;
    font-weight: bolder;
}




