@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');

:root{
    --colorPrimario: #F05454;
    --colorSecundario:#30475E;
    --colorClaro:#F5F5F5;
    --colorOscuro:#121212;
}

*{
    font-family: 'Ubuntu', sans-serif;
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth !important;
}

#app{
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100vh;
    color: white;
    min-height: 100vh;
}

#app::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: block;
    z-index: -1;
}

.imgThumbnail{
    width: 100% !important;
    height: 20em !important;
    overflow: hidden;
    display: flex;
    position: relative;
}

.imgThumbnail img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgThumbnail button{
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.primerElemento{
    padding-top: 100px !important; 
}

.ultimoElemento{
    padding-bottom: 100px !important;
}

/* Botoncito de toggle para admin*/
.switchToggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
  }
  
  .switchToggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.20s;
  }

  .switchToggle:checked{
    background-image: none;
    color: #218838;
  }

  .switchToggle:focus{
    outline: 0;
    outline-offset: 0;
    --tw-ring-inset: none;
    --tw-ring-offset-width: none;
    --tw-ring-offset-color: none;
    --tw-ring-color: none;
    --tw-ring-offset-shadow: none;
    --tw-ring-shadow: none;
    box-shadow: none;
  }
    
  .switchToggle:checked:before {
    left: 32px;
  }

/* Animacion para boton pulsar */
.pulseEffect{
    animation: pulse 400ms infinite;
}
@keyframes pulse{
    0%{
        box-shadow: #ff69b4 0 0 0 0
    }
    100%{
        box-shadow: #ff69b4 0 0 0 16px;
    }

}

.typesPoint{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F05454;
    color: white;
    gap: 2em;
    padding: 0.5em 1em;
}

.typesPoint input{
    transition: all 300ms;
}


.typesPoint input[type=checkbox]{
    outline: none;
    color: #F05454;
    border: 1px solid white;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9J3doaXRlJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGQ9J00xMi4yMDcgNC43OTNhMSAxIDAgMDEwIDEuNDE0bC01IDVhMSAxIDAgMDEtMS40MTQgMGwtMi0yYTEgMSAwIDAxMS40MTQtMS40MTRMNi41IDkuMDg2bDQuMjkzLTQuMjkzYTEgMSAwIDAxMS40MTQgMHonLz48L3N2Zz4=) !important;
}
.typesPoint input:checked{
    outline: none;
    color: #F05454;
    border: 1px solid white;
}

.typesPoint input:focus{
    outline: none !important;
    color: #F05454;
    border: 1px solid white !important;
    box-shadow: none !important;
}

.typesPoint input:hover{
    border: 1px solid var(--colorSecundario);
}
