.faviconActual{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0 auto;
    max-width: 10em;
}

.faviconActual > img{
    width: 100%;
    height: auto;
}

#faviconUpload{
    margin: 0 auto;
}