.searchText{
    border-radius: .25rem 0 0 .25rem !important;
}

.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 6px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
}

.error-font{
    font-weight: 800;
}

.addPanel, .delPanel, .modifyPanel{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    top: 20%;
    left: 25%;
    width: 60% !important;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    z-index: 99999999999999;
    padding:1em;
}

.alignCloseButton{
	display: flex;
	justify-content: flex-end;
}

.editButton, .removeButton2{
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.removeButton2{
    left: 1em;
}

.editButton i, .removeButton2 i{
    font-size: 1.2em;
}

.bigPanel{
    width: 80% !important;
    left: 10% !important;
    height: 92% !important;
    top: 5% !important;
    padding: 0 !important;
    overflow-y: scroll;
    z-index: 99999999;
}

.resourceCard:hover{
    -webkit-box-shadow: 5px 5px 38px 10px rgba(0,0,0,0.85); 
    box-shadow: 5px 5px 38px 10px rgba(0,0,0,0.85);
}

.closeModifyWindow{
    position: relative;
    z-index: 99999999;
}

.backPanel{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
}

#mensaje{
    display: block;
    width: 20em;
    height: 5em;
    position: fixed;
    top: 22px;
    right: 10px;
    z-index: 9999999;
}

.mostrarPanel{
    display: block !important;
}


.oculto{
    display: none !important;
}

#successMSJ{
    position: absolute;
    color: #fff;
    background-color: #28a745;
    border-color: #23923d;
    z-index: 99999999;
    top: 2em;
    right: 2em;
}


@media (max-width: 795px) {
}

.imagenPunto{
    height: 250px;
    object-fit: fill;
}

#imagenesRelacionadas, #videosRelacionadas, #audiosRelacionados{
    width: 90%;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-around;
}

#imagenesRelacionadas img, #videosRelacionadas video, #audiosRelacionados audio{
    width: 30%;
}

#imagenesRelacionadas img.true, #videosRelacionadas video.true, #audiosRelacionados audio.true{
    border: 2px solid red;
}

#imagenesRelacionadas img.false, #videosRelacionadas video.false, #audiosRelacionados audio.false{
    border: 2px solid transparent;
}


.recursos{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.recursos button{
    padding: 1em;
    background-color: var(--colorPrimario);
    color: white;
    border-radius: 10px;
}

#volver{
    margin-right: 1em;
    color: green;
    font-size: 2em;
}